@import "./../../libs/variables.scss";

a{
    text-decoration: none;
}
.main {
    display: flex;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
    .userImg{
        width: 35px;
        height: 35px;
        margin-right: 5px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
    }

    .userName{
        flex-grow: 1;
        font-size: 12px;
        font-weight: 700;
        color: #6c757d;
    }
    .green{
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: green;
    }
    .yellow{
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #f1b50e;
    }
    .gray{
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: gray;
    }
}