@import "./../../libs/variables.scss";
.main {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border-radius: $border-radius;
    &:hover{
        background-color: $bg-color;
    }
    input {
        margin-right: 20px;
    }
    a{
        flex-grow: 1;
        display: flex;
        align-items: center;
        height: 70px;
        .green{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: green;
        }
        .yellow{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #f1b50e;
        }
        .gray{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: gray;
        }
        .profileImg{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-size: cover;
            background-position: center;
            margin: 0 5px;
        }
        .name{
            font-weight: 700;
            font-size: 12px;
            color: $text-color;
            width: 130px;
        }
        .preview{
            width: 300px;
            font-weight: 700;
            font-size: 12px;
            color: $light-text-color;
            margin-left: 10px;
            flex-grow: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            span{
                width: 8px;
                height: 8px;
                margin-right: 10px;
                background-color: $main;
                border-radius: 50%;
                display: inline-block; 
            }
        }
        .date{
            font-weight: 700;
            font-size: 12px;
            color: $light-text-color;
            margin-left: 10px;
            text-align: center;
            @media all and (max-width: 575px) {
                &{
                    display: none
                }

              }
        }
        @media all and (max-width: 575px) {
            .name{
                width: 70px;
            }

            .preview{
                width: 150px;
            }
            
          }
    }
}