@font-face {
    font-family: "Facebook";
    src: url("./facebook.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
    padding: 20px;
    height: 100vh;
}

main{
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
}

.header{
    font-family: "Facebook";
    color: #3498db;
    font-size: 20px;
    margin-bottom: 20px;
}

.container{
    text-align: center;
}

a{
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
}