@import "./../../libs/variables.scss";

.main {
    background-color: $white;
    border-radius: $componentRadius;
    margin: 10px auto;
    padding: 20px;
    word-wrap: break-word;
    .header{
        display: flex;
        justify-content: space-between;
        .user {
            display: flex;
            align-items: center;
            .profileImg {
                width: 45px;
                height: 45px;
                background-size: cover;
                border-radius: 50%;
            }
            .postInfo {
                margin:  0 0 0 10px;
                a{
                    text-decoration: none;
                    color: inherit;
                }
                .author{
                    font-weight: 700;
                    font-size: 14px;
                }
                .date{
                    color: $light-text-color;
                    font-weight: 500;
                    font-size: 12px;
                }
            }
        }
        .btn {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            text-align: center;
            line-height: 54px;
            font-size: 22px;
            background-color: $bg-color;
            cursor: pointer;
            transition: $btn-trans;
            &:hover {
                color: $white;
                background-color: $main;
            }
        }
    }
    .content{
        .postText{
            margin: 10px 0;
            font-size: 14px;
            color: $light-text-color;
            text-align: justify;
            line-height: 26px;
        }

        .postImg{
            max-width: 100%;
            max-height: 600px;
            text-align: center;
            display: block;
            margin: 0 auto 10px;
        }
    }
}