@import "./../../libs/variables.scss";

.main {
    background-color: $white;
    border-radius: $componentRadius;
    margin: 10px auto;
    padding: 20px;
    word-wrap: break-word;
    .header{
        display: flex;
        justify-content: space-between;
        .user {
            display: flex;
            align-items: center;
            .profileImg {
                width: 45px;
                height: 45px;
                background-size: cover;
                background-position: center;
                border-radius: 50%;
            }
            .postInfo {
                margin:  0 0 0 10px;
                a{
                    text-decoration: none;
                    color: inherit;
                }
                .author{
                    font-weight: 700;
                    font-size: 14px;
                }
                .date{
                    color: $light-text-color;
                    font-weight: 500;
                    font-size: 12px;
                }
            }
        }
        .btn {
            position: relative;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            text-align: center;
            line-height: 54px;
            font-size: 22px;
            background-color: $bg-color;
            cursor: pointer;
            transition: $btn-trans;
            &:hover {
                color: $white;
                background-color: $main;
            }
            .dropDown{
                position: absolute;
                padding: 10px 0;
                background-color: $white;
                top: 60px;
                right: 0px;
                z-index: 2;
                box-shadow: $shadow;
                border-radius: $border-radius;
                // max-height: 0px;
                animation-duration: 0.5s;
                animation-name: openDropDown;
                &::before{
                    display: block;
                    position: absolute;
                    content: '';
                    width: 15px;
                    height: 15px;
                    background-color: $white;
                    transform: rotate(45deg);
                    top: -9px;
                    right: 13px;
                    border-top: 1px solid #e1e1e1;
                    border-left: 1px solid #e1e1e1;
                }
                ul{
                    list-style: none;
                    a{
                        display: flex;
                        align-items: center;
                        text-transform: inherit;
                        color: $text-color;
                        font-weight: 600;
                        font-size: 12px;
                        padding: 5px 15px;
                        &:hover{
                            background-color: $main;
                            color: $white;
                            span{
                                color: $white;
                            }
                        }
                        span{
                            margin-right: 10px;
                            font-size: 28px;
                            color: $light-text-color;
                        }
                    }
                }
            }
        }
    }
    .content{
        .postText{
            margin: 10px 0;
            font-size: 14px;
            color: $light-text-color;
            text-align: justify;
            line-height: 26px;
        }

        .postImg{
            max-width: 100%;
            max-height: 600px;
            text-align: center;
            display: block;
            margin: 0 auto 10px;
        }
    }
}

@keyframes openDropDown {
    0%{
        max-height: 0px;
        overflow: hidden;
    }
    20%{
        overflow: visible; 
    }
    100%{
        max-height: 500px;
        overflow: visible;
    }
    
}