@import "./../../libs/variables.scss";

.main {
    max-width: $componentW;
    padding: 20px;
    margin: 10px auto;
    background-color: $white;
    border-radius: $componentRadius;
    display: flex;
    flex-wrap: wrap;
    img {
        margin: 10px;
        max-height: 150px;
        width: auto;
    }
}