@import "./../../libs/variables.scss";

.main {
    max-width: $componentW;
    margin: 0 auto;
    background-color: $white;
    border-radius: $componentRadius;
    overflow: hidden;
    .header{
        background-color: $main;
        padding: 20px;
        h2{
            color: $white;
        }
    }
    
}