@import "./../../libs/variables.scss";

.main {
    max-width: $componentW;
    margin: 0 auto;
    .content{
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        align-items: stretch;
        margin-top: 10px;
        gap: 10px;
        .nothing{
            flex-grow: 1;
            background-color: $white;
            border-radius: $border-radius;
            padding: 20px;
        }
    }
}