@import "./../../libs/variables.scss";

.main {
    display: flex;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
    a{
        display: flex;
        align-items: center;
        
        .userImg{
            width: 35px;
            height: 35px;
            margin-right: 5px;
            border-radius: 50%;
            background-size: cover;
        }
        .userName{
            flex-grow: 1;
            font-size: 12px;
            font-weight: 700;
            color: #6c757d;
        }
    }
    button {
        width: 30px;
        height: 30px;
        margin-left: 5px;
        border-radius: 50%;
        line-height: 35px;
        border: none;
        background-color: $bg-color;
        color: $text-color;
        font-size: 20px;
        cursor: pointer;
        &:disabled, &[disabled] {
            cursor: default;
            opacity: 0.4;
        }
    }
}