@import "./../../libs/variables.scss";

.main {
    
    .element{
        width: 100%;
        height: 200px;
        line-height: 200px;
        text-align: center;
        border: 1px solid blue;
    }
    
}